<h1>Items in category: {{name}}</h1>
<app-back-button></app-back-button>
<div class="row">
  <div *ngFor="let product of products | paginate: {
    id: 'products-by-category',
    itemsPerPage: pageSize,
    currentPage: currentPage
  }" class="col-xs-12">
    <div class="products-item list-group-item">
      <span class="pull-right">
        <img src="{{product.image}}" alt="{{product.name}}" class="img-responsive">
      </span>
      <div class="pull-left">
        <h4 class="list-group-item-heading">{{product.name}}</h4>
        <h6 class="list-group-item-heading">{{product.model}}</h6>
      </div>
      <div class="list-group-item prod-control">
        <a routerLink="/products/details/{{product.id}}" class="clearfix">
          <button class="action btn btn-info">Details</button>
        </a>
        <a routerLink="/products/buy/{{product.id}}" class="clearfix">
          <button class="action btn btn-primary">Buy</button>
        </a>
      </div>
    </div>
  </div>
</div>
<pagination-controls 
id="products-by-category" 
(pageChange)="pageChanged($event)" maxSize="9" directionLinks="true" autoHide="true"
  previousLabel="Previous" nextLabel="Next" screenReaderPaginationLabel="Pagination" screenReaderPageLAbel="page" screenReaderCurrentLabel="You're on page">

</pagination-controls>