<h1>My order</h1>
<div *ngIf="products | async; let productsList">
  <div *ngIf="productsList.length>0">
    <div class="row">
      <div *ngFor="let product of products | async" class="col-xs-12 col-s-12 col-md-12">
        <div class="products-item list-group-item col-xs-12 col-s-12 col-md-12">
          <span>
            <img src="{{product.image}}" alt="{{product.name}}" class="img-responsive">
          </span>
          <span class="list-group-item-heading">{{product.name}} {{product.model}}</span> |
          <span>Count: {{product.count}} | Price: {{product.price}}</span> |
          <a (click)="removeProduct(product.id)">
            <button class="action btn btn-danger">Remove</button>
          </a>
        </div>
      </div>
    </div>
    <div>
      <a (click)="finishOrder()">
        <button class="action btn btn-success">Finish Order</button>
      </a>
    </div>
  </div>
</div>
<div *ngIf="!(products | async)">
  <h3>You have no products in your cart!</h3>
</div>