<div class="row">
  <div class="col-xs-12 col-sm-8 col-md-6 offset-sm-2 offset-md-3">
    <h3>Sign Up</h3>
    <form #frm="ngForm" (ngSubmit)="signUpp()">
      <div class="form-group">
        <label for="email">E-mail</label>
        <input autocomplete="off" required email type="email" id="email" name="email" [(ngModel)]="model.email" #email="ngModel"
          class="form-control">
        <div [hidden]="email.valid || email.pristine" class="alert alert-dark">
          Please provide a correct email address.
        </div>
      </div>
      <div class="form-group">
        <label for="password">Password</label>
        <input autocomplete="off" required minlength="6" type="password" id="password" name="password" [(ngModel)]="model.password"
          #password="ngModel" class="form-control">
        <div [hidden]="password.valid || password.pristine" class="alert alert-dark">
          Password must have at least 6 characters.
        </div>
      </div>
      <button class="btn btn-primary" [disabled]="frm.invalid" type="submit">Sign Up</button>
    </form>
  </div>
</div>