/* You can add global styles to this file, and also import other style files */
h1, h2, h3, h4, h5, h6 {
    padding: 5px;
}

.container {
    text-align: center;
}

#content {
    margin-top: 10px !important;
    margin-left: 15px !important;
    margin-right: 15px !important;
}

button {
    margin: 2px;
}

.row {
    margin-right: 0px !important;
    margin-left: 0px !important;
}